* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('../img/Morning_Fog_Emerging_From_Trees-1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper::before,
.wrapper::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background: url('../img/fog-1.png') repeat-x center center,
                url('../img/fog-1.png') repeat-x center center;
    background-size: 200% auto;
    background-position: left top, right top;
    opacity: 0.3;
    z-index: 1;
    animation: fogScroll 20s linear infinite;
}
.wrapper::after {
    position: fixed;
    animation-delay: 10s;
}
@keyframes fogScroll {
    from {
        background-position: left top, right top;
    }
    to {
        background-position: -100% top, 100% top;
    }
}
.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container h2 {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 10px;
    color: rgba(0,0,0,1);
    border-bottom: 1px solid;
    font-weight: 100;
    line-height: 1.5;
}
.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}
.countdown-grid {
    display: inline-block;
    grid-template-columns: 1fr; /* Initially, a single column */
    gap: 5px;
    text-align: center;
}
.countdown p, .countdown b {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    color: #333333;
    display: inline-block;
    margin: 0 2px;
}
.floating-info-icon {
    position: fixed;
    bottom: 5%;
    right: 1%;
    z-index: 5;
}
.info-icon {
    cursor: pointer;
}
#info-icon {
    height: 45px;
    width: 45px;
}
footer {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #050505;
    color: #a5a5a5;
    padding: 10px 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.attribution p {
    z-index: 3;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 2px;
    color: #a5a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    color: #FFa5a5;
}
footer a:visited {
    color: #FFa5a5;
}
footer a:hover {
    color: #FF3322;
}
/* modal window */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: auto;
    max-width: 500px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.modal-content {
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 4;
    position: relative;
}
.modal-title {
    user-select: none;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    font-size: 14px;
    margin-top: -20px;
    margin-right: 0px;
    margin-left: -20px;
}
.cc-by {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cc-by svg {
    margin-right: -3px;
    margin-left: 2px;
}
.close {
    position: absolute;
    top: -5px;
    right: -6px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.attribution-modal {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #555;
}
.attribution-modal a {
    color: #000;
}
.attribution-modal a:hover {
    text-decoration: underline;
}
.blur {
    filter: blur(4px);
}
/* height checks */
@media(max-height: 856px) {
    .floating-info-icon {
        position: fixed;
        bottom: 6%;
        right: 1%;
        z-index: 5;
    }
    .info-icon {
        cursor: pointer;
    }
    #info-icon {
        width: 45px;
        height: 45px;
    }
}
@media(max-height: 686px) {
    .floating-info-icon {
        position: fixed;
        bottom: 7.5%;
        right: 1%;
        z-index: 5;
    }
    .info-icon {
        cursor: pointer;
    }
    #info-icon {
        width: 45px;
        height: 45px;
    }
}
@media(max-height: 500px) {
    .floating-info-icon {
        position: fixed;
        bottom: 10%;
        right: 1%;
        z-index: 999;
    }
    .info-icon {
        cursor: pointer;
    }
    #info-icon {
        width: 45px;
        height: 45px;
    }
    .footer {
        z-index: 888;
    }
}
@media(max-height: 350px) {
    .floating-info-icon {
        position: fixed;
        bottom: 15%;
        right: 1%;
        z-index: 999;
    }
    .info-icon {
        cursor: pointer;
    }
    #info-icon {
        width: 45px;
        height: 45px;
    }
}
/* width checks */
@media(max-width: 1024px) {
    body {
        height: 100vh;
    }
    .container h2 {
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 10px;
        letter-spacing: 4px;
        color: rgba(0,0,0,1);
        border-bottom: 1px solid;
        font-weight: 100;
        line-height: 1.5;
    }
    .floating-info-icon {
        position: fixed;
        bottom: 5%;
        right: 1%;
        z-index: 5;
    }
    .info-icon {
        cursor: pointer;
    }
    #info-icon {
        width: 45px;
        height: 45px;
    }
    footer {
        display: block;
    }
    .attribution p {
        font-size: 14px;
        text-align: center;
        display: block;
    }
    .author-name,
    .author-credit {
        font-size: 14px;
        display: block;
    }
}
@media(max-width: 768px) {
    .wrapper::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-size: 1000% auto;
    }
    .container h2 {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 10px;
        letter-spacing: 2px;
        color: rgba(0,0,0,1);
        border-bottom: 1px solid;
        font-weight: 100;
        line-height: 1.5;
    }
    .floating-info-icon {
        position: fixed;
        bottom: 5%;
        right: 2%;
        z-index: 5;
    }
    .info-icon {
        cursor: pointer;
    }
    #info-icon {
        width: 45px;
        height: 45px;
    }
    footer {
        display: block;
    }
    .attribution p {
        font-size: 14px;
        text-align: center;
        display: block;
    }
    .author-name,
    .author-credit {
        font-size: 14px;
        display: block;
    }
}
@media(max-width: 300px) {
    .countdown {
        grid-template-columns: 1fr 1fr;
    }
    .countdown-grid {
        display: grid;
        gap: 5px;
        text-align: center;
    }
    .countdown p, .countdown b {
        font-size: 6.67vw;
        font-weight: 200;
        letter-spacing: 2px;
        color: #333333;
        display: inline-block;
        margin: 0 2px;
    }
    .wrapper::after {
        content: '';
        position: absolute;
        align-items: center;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-size: 1000% auto;
    }
    .container h2 {
        font-size: 10vw;
        font-weight: 100;
        margin-bottom: 10px;
        letter-spacing: 2px;
        color: rgba(0,0,0,1);
        border-bottom: 1px solid;
        font-weight: 100;
        line-height: 1.5;
    }
    .floating-info-icon {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 5;
    }
    .info-icon {
        cursor: pointer;
    }
    #info-icon {
        width: 45px;
        height: 45px;
    }
    footer {
        display: block;
    }
    .attribution p {
        font-size: 4.67vw;
        text-align: center;
        display: block;
    }
    .author-name,
    .author-credit {
        font-size: 12px;
        display: block;
    }
}